div class="container-fluid">
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">Attorney</h3>
        <div class="btn-group pull-right">
            <button type="button" id="admin-Attorney" ng-model="admin-Attorney" ng-click="" class="btn btn-default">Add Attorney</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Cases</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-repeat={{}}></td>
            <td ng-repeat={{}}></td>
            <td ng-repeat={{}}></td>
        </tr>
    </tbody>
</table>
</div>
