<style>
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<h1>Home</h1>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome {{name}}</h3>
        </div>
        <div class="panel-body col-sm-12">
            <div>
                <div>
                    <div class="text-center">
                        <label>Add Item</label>
                        <a>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <label>Add Client</label>
                    <a ng-model="a-Client" ng-click="">
                </div>
                <div class="col-sm-4 text-center">
                    <label>Add Documents</label>
                    <a ng-model="a-Documents" ng-click="">
                </div>
                <div class="col-sm-4 text-center">
                    <label>Add Case</label>
                    <a ng-model="a-Case" ng-click="">
                </div>
            </div>
        </div>
        <div>
            <div class="col-sm-4 text-center">
                <label>Add Message</label>
                <a ng-model="a-Messages" ng-click="">
            </div>
            <div class="col-sm-4 text-center">
                <label>Add Bill</label>
                <a ng-model="a-Bill" ng-click="">
            </div>
            <div class="col-sm-4 text-center">
                <label>Add Attorney</label>
                <a ng-model="a-Attorney" ng-click="">
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Recent Activity</h3>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">All</button>
                <button type="button" class="btn btn-default">Cases</button>
                <button type="button" class="btn btn-default">Documents</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>
<div class="panel-body col-sm-12">
</div>
</div>
</div>
