<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Cases</h1>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Case</th>
                <th>Attorney</th>
                <th>Phone Number</th>
                <th>Documents</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat={{}}></td>
                <td ng-repeat={{}}></td>
                <td ng-repeat={{}}></td>
                <td ng-repeat={{}}></td>
                <td ng-repeat={{}}></td>
            </tr>
        </tbody>
    </table>
</div>
