<div class="container-fluid col-md-10 col-md-offset-1">
    <div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Notifications</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Case</th>
                                <th>Action Needed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-repeat={{}}></td>
                                <td ng-repeat={{}}></td>
                                <td ng-repeat={{}}></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Recents Activity</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Cases</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td ng-repeat={{}}></td>
                                    <td ng-repeat={{}}></td>
                                    <td ng-repeat={{}}></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Subject</label>
                            <input type="text" class="form-control" id="subjectInput" placeholder="What can we help you with?">
                        </div>
                        <div class="form-group">
                            <label for="">Explain</label>
                            <textarea type="text" class="form-control" rows="3" placeholder="Please Explain..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                        </div>
                        <button type="submit" class="btn btn-default align-right">Submit</button>
                        <div class="checkbox pull pull-right">
                            <label>
                                <input type="checkbox"> Would you like an email copy of this message?
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
