<!-- <style>
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
 -->
<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Documents</h3>
            <div class="btn-group pull-right">
                <!-- <button type="button" id="a-CaseDocs" ng-model="a-CaseDocs" ng-click="" class="btn btn-default">Case Documents</button>
 -->
                <!--                 <button type="button" id="a-FirmDocs" ng-model="a-FirmDocs" ng-click="" class="btn btn-default">Firm Documents</button>
                <button type="button" id="a-Templates" ng-model="a-Templates" ng-click="" class="btn btn-default">Templates</button> -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Last Updated</th>
                <th>Cases</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://localhost:3001/api/files/58476511e7f7b7bb495923a2">download</a>{{vm.documents}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
